body {
  background: #f7f7f7;
  font-size: 16px;
  @media #{$small} {
    font-size: 14px;
  }
}

ul, ol, dl {
  margin-left: 1em;
}

code {
  background: #eee;
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  @include border-radius(3px);
  font-weight: normal;
  font-family: $mono;
  padding: 2px 3px;
}
pre code {
  border: 0;
  @include border-radius(0);
  font-family: inherit;
  padding: 0;
}
.highlight pre {
  border: 1px solid #ddd;
  background-color: #f8f8ff;
  padding: 10px;
  margin: 1em 0;
  @include border-radius(3px);
}
.gist .highlight {
  background: inherit;
}

img {
  &[src*=typekit] {
    display: none !important;
  }
}

.excerpt {
  p {
    @extend p.lead;
  }
}

.caption {
  font-size: ms(0) - 0.3em;
  color: gray;
}
