body {
  background: #f7f7f7;
  font-size: 16px;
}

ul, ol, dl {
  margin-left: 1em;
}

code {
  background: #eee;
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  @include border-radius(3px);
  font-weight: normal;
  font-family: $mono;
  padding: 2px 3px;
}
pre code {
  border: 0;
  @include border-radius(0);
  font-family: inherit;
  padding: 0;
}
