@import "compass/layout";
@media #{$medium} {
  @include sticky-footer(244px);
}

#root {
  @include clearfix;
}
#header {
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  margin-bottom: 30px;
  a {
    font-family: $header_font_family;
    font-size: ms(2);
    color: #666;
    padding: 10px 0;
    display: block;
    float: left;
  }
  small {
    color: #aaa;
  }
}

#main {
  margin-bottom: 30px;
}
#footer {
  border-top: 1px solid #ddd;
  padding: 30px 0;
  font-size: 14px;
  .icon-code {
    color: #666;
  }
}
#home {
  margin-bottom: -30px;
}

.row {
  padding: 0 50px;
  margin: 0;
  .row {
    padding: 0;
  }
  @media #{$small} {
    padding: 0;
  }
}

.overview {
  border-bottom: 5px solid #ddd;
  padding-bottom: 5px;
  @extend %content-row;
  &:before {
    content: "Contents";
    color: #aaa;
    font-size: 12px;
    margin-bottom: 6px;
    display: block;
    font-family: $header_font_family;
    text-transform: uppercase;
    font-weight: bold;
  }
  a {
    display: block;
  }
}
