$base-size: 1.125em 1.8em;
$ratio: fifth();

$row_width: 650px;
$screen_small: 768px;
$column_gutter: 30px;

$default_float: left;
$default_opposite: right;
$total_columns: 12;
$block_grid_elements: 12;
