$base-size: 1.125em 1.8em;
$ratio: augmented-fourth();

$primary_color: #1B5891;
$secondary_color: #e9e9e9;

$row_width: 550px;
$screen_small: $row_width + 100px;
$column_gutter: 30px;

$default_float: left;
$default_opposite: right;
$total_columns: 12;
$mobile_total_columns: 4;
$block_grid_elements: 12;

$black: #000 !default;
$white: #fff !default;
$alert_color: #c60f13 !default;
$success_color: #5da423 !default;

$shiny_edge: rgba(#fff, .5) !default;
$dark_edge: rgba(#000, .2) !default;

$button_radius: 3px !default;
$btn_base: 10px !default;

$tiny_btn_base: $btn_base - 5 !default;
$small_btn_base: $btn_base - 3 !default;
$large_btn_base: $btn_base + 5 !default;

$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;

$font_smoothing: antialiased !default;
$header_font_family: "nimbus-sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$header_font_weight: bold !default;
$header_font_style: normal !default;
$header_font_color: #222 !default;
$body_font_family: "droid-serif", Georgia, serif;
$body_font_weight: normal !default;
$body_font_style: normal !default;
$body_font_color: #222 !default;

$highlight_color: #ffff99 !default;

$small: "only screen and (max-width: #{$screen_small - 1 })";
$medium: "only screen and (min-width: #{$screen_small})";
