%content-row {
  width: $row_width;
  max-width: 100%;
  min-width: $screen_small - 100px;
}

.button {
  border: 0;
  @include box-shadow(none);
  font-family: $header_font_family;
  &.secondary {
    border: 0;
    background-color: #ddd;
  }
  + .button {
    margin-left: 5px;
  }
}
