---
layout: application
title: Made by Nic Aitch
---

<div id="home">
  <div class="latest">
    <div class="row">
      <div class="twelve columns">
        {% assign post = site.categories.blog.first %}
        {% include post/featured.html %}
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <nav class="switcher">
          <span>Viewing </span>
          <a href="#posts" class="active">Posts</a>
          <a href="#projects">Projects</a>
        </nav>
      </div>
    </div>
  </div>

  <div id="posts" class="switch-content active">
    {% for post in site.categories.blog %}
      {% if forloop.index > 1 %}
        {% include post/micro.html %}
      {% endif %}
    {% endfor %}
  </div>

  <div id="projects" class="switch-content">
    {% assign projects = site.categories.project | sort:"name" %}
    {% for project in projects %}
      {% include project/micro.html %}
    {% endfor %}
  </div>

</div>
