<article class="post">
  <div class="row">
    <div class="twelve columns">
      <header>
        <h1>{{ page.title }}</h1>
        <p class="meta">
          {% include reading_time.html %}
          &bull;
          <time>{{ page.date | date: "%B %e, %Y" }}</time>
        </p>
      </header>

      {{ content }}
    </div>
  </div>

  {% if site.disqus_short_name and page.comments == true %}
    <div class="row" id="comments">
      <div class="twelve columns">
        <h4>Comments</h4>
        <div id="disqus_thread">
          {% include disqus.html %}
        </div>
      </div>
    </div>
  {% endif %}

</article>
