<article class="post featured">
  <header>
    <h1>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <p class="meta">
      {% assign content = post.content %}
      {% include reading_time.html %}
      &bull;
      <time>{{ post.date | date: "%B %e, %Y" }}</time>
    </p>
  </header>

  {% if post.excerpt %}
    <div class="excerpt">
      {{ post.excerpt }}
    </div>
  {% endif %}

  <a class="" href="{{ post.url }}">
    Continue Reading &rarr;
  </a>
</article>
