<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>{{ page.title }}</title>

  <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />

  <link href='http://fonts.googleapis.com/css?family=Lato:300,700,900' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/syntax.css">

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="//use.typekit.net/pkl6wcn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div id="root">
    <div id="header">
      <div class="row">
        <div class="twelve columns">
          {% include header.html %}
        </div>
      </div>
    </div>

    <div id="main">
      {{ content }}
    </div>

    <div id="root_footer"></div>
  </div>

  <div id="footer">
    <div class="row">
      <div class="twelve columns">
        {% include footer.html %}
      </div>
    </div>
  </div>
</body>
</html>
